@import 'normalize.css';
@import 'hack/dist/hack.css';
@import 'hack/dist/standard.css';

::selection {
  background-color: #ffe079;
  color: #000;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
img::selection,
b::selection {
  background-color: #ffc533;
}

.standard pre {
  color: #999;
  background: #000;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(51, 51, 51);
  border-image: initial;
  overflow-x: auto;
  font-family: "Operator Mono", "Fira Code", "SF Mono", "Roboto Mono", Menlo, monospace;
  padding: 30px;
  border-radius: 2px;
  line-height: 20px;
}

.loading {
  display: inline-block;
  content: "&nbsp;";
  margin: 0 .5rem;
  animation: a .6s infinite linear;
  border: 2px solid white;
  border-right-color: transparent;
  border-radius: 50%;
}

.standard {
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  background-color: #000;
  color: #ccc;
}

.standard h1,
.standard h2,
.standard h3,  {
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.standard li {
  margin-bottom: 1rem;
}

.anchorjs-link {
  border: 0;
  color: #757575;

  &:hover,
  &:focus {
    background-color: inherit;
  }
}

.form-control {
  width: 100%;
  text-align: center;
  color: white;
}
